@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  /* table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: white;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: white;
  }
  td {
    display: table-cell;
    vertical-align: inherit;
  }
  tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: white;
  }
  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
  }
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: white;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: white;
  } */
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 origin-top-left;
}
.hamburger-active > span:nth-child(3) {
  @apply origin-bottom-left -rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-black opacity-70;
}

.navbar-landing-fixed {
  @apply fixed z-[9999] bg-[#3E85C5] opacity-70;
}
